<div class="wrapper">
  <h1>Auth sample</h1>
  <div class="form-wrapper">
    <form [formGroup]="loginForm"
          [attr.autocomplete]="'on'"
          (ngSubmit)="onLogin()">
      <div
        [style.visibility]="incorrectLoginOrPassword ? 'visible' : 'hidden'"
        class="error"
        >
        {{errorMessage}}
      </div>
      <input type="text" class="form-control" placeholder="Email" formControlName="email" /><br />
      <input type="password" class="form-control" placeholder="Password" formControlName="password" /><br />
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>